$$
\newcommand{\E}[2][]{\mathbb{E}_{#1} \left[ #2 \right]}
\newcommand{\EMC}[2][]{\mathbb{E_{MC}}{#1} \left[ #2 \right]}
\newcommand{\EML}[2][]{\mathbb{E_{ML}}_{#1} \left[ #2 \right]}
\newcommand{\dEML}[2][]{\big( \mathbb{E_{ML}}_{#1} - \mathbb{E}_{#1} \big) \left[ #2 \right] }
\newcommand{\dEMC}[2][]{\big( \mathbb{E_{MC}}_{#1} - \mathbb{E}_{#1} \big) \left[ #2 \right] }
\newcommand{\Var}[2][]{\mathbb{V}ar_{#1} \left[ #2 \right] }
\newcommand{\norm}[2]{ \left\| #1 \right\|_{#2} }
\newcommand{\seminorm}[2]{ \left|\left|\left| #1 \right|\right|\right|_{#2} }
\newcommand{\meshnorm}[2]{ \left|\left|\left| #1 \right|\right|\right|_{#2} }
\newcommand{\Prob}[2][]{\mathbb{P}_{#1} \left[ #2 \right] }
\newcommand{\ProbSpace}[1][]{(\Omega, \mathcal{F},\mathbb{P})}

\newcommand{\accel}[1]{ \accentset{a}{#1} }

\newcommand{\black}[1]{ {\color{black} #1} }
\newcommand{\red}[1]{ {\color{red} #1} }
\newcommand{\blue}[1]{ {\color{blue} #1} }

\newcommand{\bs}[1]{ \boldsymbol{#1} }
$$